<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/shop"></ion-back-button>
    </ion-buttons>
    <ion-title>{{product ? product.title : 'Product Not Found'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="product; then productFound; else productNotFound"></ng-container>
  <ng-template #productNotFound>
    <div class="center-container">
      <h1>Product Not Found</h1>
    </div>
  </ng-template>
  <ng-template #productFound>
    <div class="ion-padding">
      <h1>{{id}}</h1>
      <h1>{{product.title}}</h1>
      <h2>{{product.price | currency}}</h2>
      <p>{{product.description}}</p>
    </div>
  </ng-template>
</ion-content>
